.user-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  min-height: 100%;

  .left-sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #2f2f2f51;
    padding: 1rem;

    & > :first-child {
      margin-bottom: 1rem;
    }
  }

  a {
    text-decoration: none;
    color: #444444f1;
    position: relative;
  }
}
