@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 1000;
}
h2 {
  font-size: 2.25rem;
  font-weight: 800;
}
h3 {
  font-size: 2rem;
  font-weight: 600;
}
h4 {
  font-size: 1.75rem;
  font-weight: 400;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}

body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  height: 70px;
  border: 1px solid gray;
  transition: 0.3s ease;
  padding: 0 1rem;
  align-content: center;
  z-index: 99;

  a {
    text-decoration: none;
    color: white;
    vertical-align: central;
    line-height: 70px;
  }

  & > a:nth-child(1) {
    margin-right: auto;
  }

  & > a:not(:first-child) {
    margin-left: 1rem;
  }
}

main {
  padding: 70px 0 0;
  flex-grow: 1;
  width: 100%;
  min-height: auto;
}
footer {
  position: relative;
  margin-top: auto;
  width: 100%;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.3);
  padding: 8px;
  p {
    text-align: center;
    color: rgba(32, 16, 64, 0.9);
  }
}
